#Various vendor
numpy
wtforms
werkzeug
flask
dill
flask_wtf
gunicorn
flask_sqlalchemy
sqlalchemy

psycopg2


#Google specific
google-python-cloud-debugger
google-cloud-storage
google-api-python-client
google-cloud-secret-manager

