{% extends "layout.html" %}
{% from "macros.html" import plot_result with context %}

{% block title %} Home@Imputation.io {% endblock %}


{% block body  %}
    <!-- Main content -->
    <div class="container p-3">

        <p>This is an early/pre-alpha version of the census imputaiton model. It is trained on ~5 mil individuals in the 2012-2017 PUMS data.
            You can enter as much (or as little) information into the census imputation form and submit.
            What you will get back is a probability distribution on the unknown variables 
            (mask input basically forces the model to use that element as an unknown variable, same as not entering a value).</p>
        <p>For numeric entries: age is in years (max 95), income is in USD (max $350k), and commute time is in minutes (max 200)</p>
         <p>Want to know more? Contact us at <a href="mailto:learn@imputation.io">learn@imputation.io</a></p>

    </div>

    <!-- Census imputation form -->


<div class="row justify-content-center m-2">
<div class="container border rounded border-dark m-3 p-2">
    <form action="{{ url_for('frontend.web_app', _anchor='results')}}" method="POST" >

        <fieldset>
            <legend>Census imputation</legend>
            <div class="form-group">
                {% if  form.csrf_token %}
                        {{ form.csrf_token }}
                        {% if form.csrf_token.errors %}
                            <div class="alert alert-danger">You have submitted an invalid CSRF token</div>
                        {% endif %}
                {% endif %}
                {% for field in form.field_list %}
                        <div class="p-2">
                        <div class="row p-1">
                            <div class="col  ">
                                {{field[0].label(class_="form-label")}}
                            </div>
                            <div class="col  text-right"><label class="form-check-label">Mask input?&nbsp;&nbsp;</label>
                                {{ field[1](class_="form-check-control") }}</div>

                        </div>
                        <div class="row">
                            <div class="col">
                                {{field[0](class_="form-control")}}
                            </div>
                        </div>
                        {% if graph_data %}
                            {% if field[0].id in graph_data %}
                            <div class="row">
                                <div class="col">
                                    <canvas id="{{ field[0].id.lower() }}"></canvas>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        </div>
                {% endfor %}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>
</div>

 {% if graph_data %}
<script>
    {% for key in graph_data.keys() %}
        {{ plot_result(description_dict, numeric_keys, key, graph_data) }}
    {% endfor %}
</script>
{% endif %}


{% endblock %}
