{% extends "layout.html" %}

{% block title %} Home@Imputation.io {% endblock %}


{% block body  %}
    <!-- Main content -->
    <div class="container p-3">

        <h1>Imputation (<em>noun</em>):</h1><h2>The process of replacing missing data with substituted values.</h2>
        <br><br>
        <p>Our team is developing deep learning solutions for imputing highly personalized data from partially known profiles.<br>
          <br>
          Want to know more? Contact us at <a href="mailto:learn@imputation.io">learn@imputation.io</a></p>

    </div>

    <!-- Census imputation form -->


<div class="row justify-content-center m-2">
<div class="col-lg-4 p-3 m-2  border rounded border-dark">
    <form action="{{ url_for('web_app')}}" method="POST" >

        <fieldset>
            <legend>Census imputation</legend>
            <div class="form-group">
                {% if  form.csrf_token %}
                        {{ form.csrf_token }}
                        {% if form.csrf_token.errors %}
                            <div class="alert alert-danger">You have submitted an invalid CSRF token</div>
                        {% endif %}
                {% endif %}
                {% for field in form.field_list %}
                        <div class="p-2">
                        <div class="row p-1">
                            <div class="col  ">
                                {{field[0].label(class_="form-label")}}
                            </div>
                            <div class="col  text-right"><label class="form-check-label">Mask input?&nbsp;&nbsp;</label>
                                {{ field[1](class_="form-check-control") }}</div>

                        </div>
                        <div class="row">
                            <div class="col">
                                {{field[0](class_="form-control")}}
                            </div>
                        </div>
                        </div>

                {% endfor %}


            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>

{% if pred_description %}



<div class="col-lg-6 p-3 m-2 border rounded border-dark">
    {% for key in pred_description.keys() %}
    <div class="row p-3">
        <canvas id="{{ key.lower() }}"></canvas>
    </div>
{% endfor %}
</div>

{% endif %}</div>

<br><br>
{% if pred_description %}
<script>
{% for key in pred_description.keys() %}
var ctx = document.getElementById("{{ key.lower() }}");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for name in pred_description[key]['x'] %}
                    "{{name}}",
                {% endfor %}],
        datasets: [{
          label: '{{ description_dict[key] }}',
          data: {{ pred_description[key]['y'] }},
          backgroundColor: "#3e95cd"


        }],
        options: {
            scales: {
                xAxes: [{
                    barThickness: 1,  // number (pixels) or 'flex'
                    maxBarThickness: 4 // number (pixels)
                }]
            }
        }

      },

    });
{% endfor %}
    </script>
{% endif %}
{% if pred_description %}



{% endif %}

{% endblock %}
